<header class="site-header <%= 'admin-header' if current_user&.master? %>">
  <div class="h-container">
    <div class="logo">
      <a href="#">
        <%= image_tag "logo.png", alt: "PICTREASURE", class: "logo-image" %>
      </a>
    </div>
      
    <div class="auth-buttons">
  <% if user_signed_in? %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "auth-link" %>
  <% else %>
    <%= link_to "新規登録", new_user_registration_path, class: "auth-link" %>
    <%= link_to "ログイン", new_user_session_path, class: "auth-link" %>
  <% end %>
</div>




      <div id="menu-toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>

  <ul class="menu-list">
  <li class="menu-item">
    <% if user_signed_in? %>
      <%= current_user.username %>
    <% else %>
      ゲストさん
    <% end %>
  </li>
  <li class="menu-item"><%= link_to 'About', challenges_path, class: 'nav-link' %></li>
  <li class="menu-item"><%= link_to 'チャレンジ作成', new_challenge_path, class: 'nav-link' %></li>
  <li class="menu-item"><%= link_to 'チャレンジ一覧', challenges_path, class: 'nav-link' %></li>
  <li class="menu-item"><%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link' %></li>
</ul>
  </div>
</header>