<header class="site-header <%= 'admin-header' if current_user&.master? %>">
  <div class="container">
    <nav>
      <%= link_to root_path, class: 'logo' do %>
        <%= image_tag 'logo.png', alt: 'Pictreasure Logo', class: 'logo-image' %>
      <% end %>
      <ul class="nav-links">
        <% if user_signed_in? %>
          <% if current_user.master? %>
            <li class="user-greeting "><div class="role-mode" >管理者モード</div>
            <div class="header-name"><%= current_user.username %>さん</div></li>
          <% else %>
            <li class="user-greeting "><div class="role-mode" >チャレンジャー</div><%= current_user.username %>さん</li>
          <% end %>
          <li><%= link_to 'チャレンジ一覧', challenges_path, class: 'nav-button' %></li>
          <li><%= link_to 'プロフィール編集', edit_user_registration_path, class: 'nav-button' %></li>
          <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-button btn-logout' %></li>
        <% else %>
          <li><%= link_to '新規登録', new_user_registration_path, class: 'nav-button btn-signup' %></li>
          <li><%= link_to 'ログイン', new_user_session_path, class: 'nav-button btn-login' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>