<h1>チャレンジの編集</h1>

<%= form_with(model: @challenge, local: true) do |form| %>
  <% if @challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>
      <ul>
        <% @challenge.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <% if @current_image %>
    <div class="current-image">
      <h3>現在の画像</h3>
      <%= image_tag @current_image, style: "max-width: 300px;" %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit '更新する' %>
  </div>
<% end %>

<%= link_to '詳細を見る', @challenge %> |
<%= link_to '戻る', challenges_path %>