
  <h1>Challenges</h1>
  <div class='pictresure-aboout-contents'>
    <h2 id='about' class='title'>
      PICTREASUREの遊び方
    </h2>
    <ul class='about-lists'>
      <li class='list'>
        <%= image_tag "about01.jpg", class:"list-pict" %>
        <span class='about-list-number'>1</span>
        <h3 class='about-list-title'>
          チャレンジを選ぼう!
        </h3>
        <p class='about-list-description'>
          チャレンジを選択するとお題の写真がでてくるので、
          街に出てお題と同じ写真を取りにいこう！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "shibuya02.jpg", class:"list-pict" %>
        <span class='about-list-number'>2</span>
        <h3 class='about-list-tile'>
         　街にでて、お題と同じような写真を撮ろう!
        </h3>
        <p class='reason-list-description'>
          お題と同じような写真がとれたら写真を[アップロード]すると、類似度をチェックするよ！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "shibuya01.jpg", class:"list-pict" %>
        <span class='about-list-number'>3</span>
        <h3 class='aout-list-title'>
          類似度70%以上目指してクリアー！
        </h3>
        <p class='about-list-description'>
          お題との写真との類似度が70%以上でそのチャレンジはクリアになるよ。
          何度も挑戦できるので全てのチャレンジクリアを目指そう!
        </p>
      </li>
    </ul>
  </div>
<div class="challenges-container">
<% @challenges.each do |challenge| %>
  <div class="challenge-card">
    <%= image_tag challenge.image.variant(resize_to_limit: [300, 200]), class: 'card-img-top' if challenge.image.attached? %>
    <h2><%= challenge.title %></h2>
    <p><%= truncate(challenge.description, length: 100) %></p>
    <%= link_to 'チャレンジ開始', challenge_path(challenge), class: 'btn' %>
  </div>
<% end %>
</div>